p.double {border-style: double;}
html {
    border-style: double; color: rgb(0, 85, 255);}
    h3, ul{border: 2px solid  ; padding: .5em ; }
.block, 
li {border: 2px solid blue}    
img {padding: 1px 1px 1px 1px;}